<%= form_for @mark do |f| %>
	<div class = "fields">
		<p>
			<%= f.label :student %>	
			<%= f.collection_select(:stud_id, Stud.all, :id, :name ,  {include_blank: 'Select Student'} ) %>
		</p>
		<p>
			<%= f.label :subject %>
			<%= f.collection_select(:subject_id, Subject.all, :id, :name ,  {include_blank: 'Select Student'} ) %>
		</p>
		<p>
			<%= f.label :mark %>
			<%= f.text_field :mark %>
		</p>
	</div>
	<div class = "action">
		<p>
			<%= f.submit %>
		</p>
	</div>
<% end %>