<h1>Report</h1>
<p>
	<%= @student.name %>
</p>
<table border=1>
	<tr>
		<td><strong>Weighted Average: </strong> <%= @weighted_avg %></td>
	</tr>	
</table>
<%= link_to 'back', stud_path(@student.id)%>

