<table>
	<tr>
		Name
	</tr>
	<% @groups.each do |group|%>
	<tr>
		<td><%= group.name%></td>
		<td><%= link_to 'show', group%></td>
	</tr>
	<% end %>
</table>
<%= link_to 'add_new_group', new_group_path %>
<%= link_to 'back', studs_path %>
