<h1>Add new group</h1>
<%= render 'form' %>
<div id="list">
	<table>
		<tr>
			Name
		</tr>
		<% @groups.each do |group|%>
		<tr>
			<td><%= group.name%></td>
			<td><%= link_to 'show', group%></td>
		</tr>
		<% end %>
	</table>
</div>
