<p> 
	<strong>Name:</strong>
	<%= @group.name %>
</p>

<p>Add Studens to Group</p>
<%= form_tag group_add_studs_group_path(@group.id) do  %> 
	<%= collection_select :stud, :id, Stud.all, :id, :name %>
	<%= submit_tag %> 
<% end %>
<%= link_to 'back', groups_path %>
