<%= form_for @stud, html: { class: 'form-horizontal', :id=>"form_id" }, remote: true do |f| %>
<div class="fields">
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email%>

	</p>
</div>
<div class="actions">
	<p>
		<%= f.submit %>
	</p>
</div>
<% end %>