<h2>List of students</h2>
<p><%= link_to 'Add new student', new_stud_path %></p>
<p><%= link_to 'Show Groups', groups_path %></p>
<p><%= link_to 'Add Marks', new_mark_path %></p>
<table border=1>
	<tr>
		<th>Name</th>
		<th>Email</th>
	</tr>
	<% @studs.each do |stud| %>
		<tr>
			<td><%= stud.name %></td>
			<td><%= stud.email %></td>
			<td><%= link_to 'Show', stud %>
		</tr>
	<% end %>
</table>