<h2>Students List </h2>
<p>
	<strong>Name: </strong>
	<%= @stud.name %>
</p>
<p>
	<strong>Email: </strong>
	<%= @stud.email %>
</p>
<%= link_to 'Show report', reports_marks_path(id:@stud.id)%>
<p>
	<%= link_to 'back', studs_path%>
</p>